$primary-clr: #473bf0;
$secondary-clr: #161c2d;

$shadow-clr: #00000029;
$text-clr: #161c2d;
$light-clr: #b5b5be;
$medium-clr: #d9d9d9;
$subtitle-clr: #858596;
$h-mid-clr: #44444f;
$danger-clr: #d82222;
$success-clr: #3dd598;
$light-gray: #f3f3f3;
