@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@300;500;600;700&display=swap");
@import "./_colors";
body {
  font-family: "DM Sans", sans-serif;
  color: $text-clr;
}

.user-navbar {
  box-shadow: 0px 3px 6px $shadow-clr;
  background-color: white;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.user-links {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.space-text {
  font-size: 14px;
  color: $light-clr;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social-links {
  & .social-box {
    border: 1px solid $medium-clr;
    border-radius: 10px;
    padding: 10px 20px;
  }
}

.dotted-spaced {
  background-image: linear-gradient(
    to right,
    #92929d 12%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top;
  background-size: 22px 2px;
  background-repeat: repeat-x;
  padding-left: 0;
  width: 60%;
  height: 10px;
  top: 48px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.primary-clr {
  color: $primary-clr;
}
.secondary-clr {
  color: $secondary-clr;
}
.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: $light-clr;
  font-size: 14px;
  text-transform: uppercase;
}

.divider > span {
  position: relative;
  display: inline-block;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  border-top: 1px solid #f1f1f5;
}

.divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.divider > span:after {
  left: 100%;
  margin-left: 15px;
}
