@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@300;500;600;700&display=swap");
@import "./_colors";
body {
  font-family: "DM Sans", sans-serif;
  color: $text-clr;
}

.user-navbar {
  box-shadow: 0px 3px 6px $shadow-clr;
  background-color: white;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.user-links {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.space-text {
  font-size: 14px;
  color: $light-clr;
  letter-spacing: 1px;
  text-transform: uppercase;
}
