@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@300;500;600;700&display=swap");
@import "./_colors";
body {
  font-family: "DM Sans", sans-serif !important;
  color: $text-clr;
}
.light-clr {
  color: $light-clr;
}
.medium-clr {
  color: $medium-clr;
}
.subtitle-clr {
  color: $subtitle-clr;
}
.h-mid-clr {
  color: $h-mid-clr;
}

.boxShadow {
  box-shadow: 0px 3px 6px $shadow-clr;
}
.boxShadow1 {
  box-shadow: 0px 54px 53px #161c2d23;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif !important;
  font-size: 28px;
}

.user-links {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.user-links:hover {
  color: $primary-clr;
}

.active-links {
  color: $primary-clr;
}

.space-text {
  font-size: 14px;
  color: $light-clr;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social-links {
  & .social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $medium-clr;
    border-radius: 10px;
    padding: 13px 20px;
    cursor: pointer;
  }
}
#category-arrow {
  visibility: hidden;
}
.category-card-hover:hover #category-arrow {
  visibility: visible;
  animation: fade-in 500ms;
}

.latestTool:hover #latestTool-arrow {
  color: $primary-clr;
  transition: color ease-in-out 500ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MuiAutocomplete-root {
  .css-fkw6qn-MuiInputBase-root-MuiOutlinedInput-root {
    height: 100%;
  }
}

.dotted-spaced {
  background-image: linear-gradient(
    to right,
    #cfcfcf 12%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top;
  background-size: 22px 2px;
  background-repeat: repeat-x;
  padding-left: 0;
  height: 10px;
  top: 20px;
  position: absolute;
  width: 30%;
}
.dotted-spaced1 {
  left: 19.2%;
}
.dotted-spaced2 {
  left: 52.5%;
}
.dotted-active {
  background-image: linear-gradient(to right, #000000 12%, rgba(0, 0, 0, 0) 0%);
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select {
  background: none;
  color: $h-mid-clr;
  cursor: pointer;
  font-size: 14px;
  &:focus-visible {
    border: none;
    box-sizing: unset;
    outline: none;
  }
}
.primary-clr-hover:hover {
  color: $primary-clr;
}
.danger-clr-hover:hover {
  color: $danger-clr;
}
.success-clr-hover:hover {
  color: $success-clr;
}
.primary-clr {
  color: $primary-clr;
}
.secondary-clr {
  color: $secondary-clr;
}
.success-clr {
  color: $success-clr;
}
.danger-clr {
  color: $danger-clr;
}

.primary-bg {
  background-color: $primary-clr;
}
.secondary-bg {
  background-color: $secondary-clr;
}

.gray-bg {
  background-color: $light-gray;
}

.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: $light-clr;
  font-size: 14px;
  text-transform: uppercase;
}

.divider > span {
  position: relative;
  display: inline-block;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  border-top: 1px solid #f1f1f5;
}

.divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.divider > span:after {
  left: 100%;
  margin-left: 15px;
}
.MuiSelect-select:focus {
  background-color: transparent !important;
}
.css-bxfo34-MuiInputBase-root-MuiOutlinedInput-root,
.css-11jtt8n-MuiInputBase-root-MuiOutlinedInput-root,
.css-3fgdw5 {
  height: 100% !important;
}
